@media only screen and (min-width:768px) and (max-width:991px){
    .maindiv{
        max-width: 100%;
        height: 300px;
        

    }
    .lapi{
        width: 885px;
        height: 300px;
        margin-right: 0;


    }
    .about_us{
        width: 885px;
    }
    .differ{
        width: 885px;
        padding: 10px;
        

    }
    .main_containe_progress{
        /* padding: 32px; */

    }
    .main_containe_progress img{
        width: 500px;
    }
    .main_div{
        width: 115%;


    }
    .main_container{
        width: 115%;

    }
    .last_matter{
        width: 115%;
    }
    .line{
        width: 115%;
    }

}